<a href="https://colab.research.google.com/github/manishgurungxon/MachineLearningPy/blob/main/Superstoresalesdocwithpandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import pandas_profiling as pp

In [5]:
super_df = pd.read_csv("SuperstoreSalesDataset.csv")

In [6]:
super_df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,21/05/2017,28/05/2017,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,9797,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,9798,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

In [8]:
super_df.describe()

            Row ID   Postal Code         Sales
count  9800.000000   9789.000000   9800.000000
mean   4900.500000  55273.322403    230.769059
std    2829.160653  32041.223413    626.651875
min       1.000000   1040.000000      0.444000
25%    2450.750000  23223.000000     17.248000
50%    4900.500000  58103.000000     54.490000
75%    7350.250000  90008.000000    210.605000
max    9800.000000  99301.000000  22638.480000

In [11]:
super_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

In [19]:
super_df.iloc[:,:].value_counts()

Row ID  Order ID        Order Date  Ship Date   Ship Mode       Customer ID  Customer Name     Segment      Country        City          State         Postal Code  Region   Product ID       Category         Sub-Category  Product Name                                                             Sales
1       CA-2017-152156  08/11/2017  11/11/2017  Second Class    CG-12520     Claire Gute       Consumer     United States  Henderson     Kentucky      42420.0      South    FUR-BO-10001798  Furniture        Bookcases     Bush Somerset Collection Bookcase                                        261.960    1
6532    US-2018-107384  04/12/2018  08/12/2018  Standard Class  TP-21130     Theone Pippenger  Consumer     United States  Rochester     Minnesota     55901.0      Central  OFF-AR-10001315  Office Supplies  Art           Newell 310                                                               8.800      1
6525    CA-2017-129308  07/07/2017  13/07/2017  Standard Class  CC-12100     Chad Cunningham   Home Office  United States  Philadelphia  Pennsylvania  19120.0      East     TEC-PH-10002310  Technology       Phones        Panasonic KX T7731-B Digital phone                                       59.994     1
6526    CA-2017-129308  07/07/2017  13/07/2017  Standard Class  CC-12100     Chad Cunningham   Home Office  United States  Philadelphia  Pennsylvania  19120.0      East     OFF-BI-10001525  Office Supplies  Binders       Acco Pressboard Covers with Storage Hooks, 14 7/8" x 11", Executive Red  5.715      1
6527    CA-2017-129308  07/07/2017  13/07/2017  Standard Class  CC-12100     Chad Cunningham   Home Office  United States  Philadelphia  Pennsylvania  19120.0      East     OFF-BI-10001308  Office Supplies  Binders       GBC Standard Plastic Binding Systems' Combs                              9.420      1
                                                                                                                                                                                                                                                                                                                ..
3266    US-2015-126571  11/10/2015  15/10/2015  Standard Class  JF-15565     Jill Fjeld        Consumer     United States  Philadelphia  Pennsylvania  19120.0      East     OFF-ST-10003816  Office Supplies  Storage       Fellowes High-Stak Drawer Files                                          281.904    1
3267    US-2015-126571  11/10/2015  15/10/2015  Standard Class  JF-15565     Jill Fjeld        Consumer     United States  Philadelphia  Pennsylvania  19120.0      East     OFF-EN-10002230  Office Supplies  Envelopes     Airmail Envelopes                                                        201.432    1
3268    CA-2015-143840  22/05/2015  29/05/2015  Standard Class  EH-14185     Evan Henry        Consumer     United States  Decatur       Alabama       35601.0      South    TEC-PH-10002660  Technology       Phones        Nortel Networks T7316 E Nt8 B27                                          135.980    1
3269    CA-2015-143840  22/05/2015  29/05/2015  Standard Class  EH-14185     Evan Henry        Consumer     United States  Decatur       Alabama       35601.0      South    TEC-PH-10003171  Technology       Phones        Plantronics Encore H101 Dual Earpieces Headset                           44.950     1
9800    CA-2016-128608  12/01/2016  17/01/2016  Standard Class  CS-12490     Cindy Schnelling  Corporate    United States  Toledo        Ohio          43615.0      East     TEC-AC-10000487  Technology       Accessories   SanDisk Cruzer 4 GB USB Flash Drive                                      10.384     1
Length: 9789, dtype: int64

In [20]:
super_df.describe(include=["object", "bool"])

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Region,Product ID,Category,Sub-Category,Product Name
count,9800,9800,9800,9800,9800,9800,9800,9800,9800,9800,9800,9800,9800,9800,9800
unique,4922,1230,1326,4,793,793,3,1,529,49,4,1861,3,17,1849
top,CA-2018-100111,05/09/2017,26/09/2018,Standard Class,WB-21850,William Brown,Consumer,United States,New York City,California,West,OFF-PA-10001970,Office Supplies,Binders,Staple envelope
freq,14,38,34,5859,35,35,5101,9800,891,1946,3140,19,5909,1492,47

In [22]:
super_df.groupby("State").describe(percentiles=[])

                      Row ID                                            \
                       count         mean          std     min     50%
State
Alabama                 61.0  3997.967213  2555.764113    80.0  3501.0
Arizona                223.0  4528.771300  2868.141709    68.0  4085.0
Arkansas                60.0  5076.250000  2504.642494   496.0  5535.5
California            1946.0  4929.377184  2789.690913     3.0  5018.5
Colorado               179.0  4286.569832  2838.278537   104.0  4462.0
Connecticut             82.0  5419.646341  2640.966711   186.0  5866.5
Delaware                93.0  5101.849462  2781.218985    48.0  5041.0
District of Columbia    10.0  1791.800000  1040.538408  1021.0  1640.5
Florida                373.0  4986.378016  2823.710827     4.0  4803.0
Georgia                177.0  4599.141243  2571.405430   360.0  4263.0
Idaho                   21.0  6163.190476  2155.944842  3051.0  6000.0
Illinois               483.0  5140.115942  2874.536047    42.0  5248.0
Indiana                135.0  4372.096296  2589.269628    50.0  4370.0
Iowa                    26.0  3942.576923  3312.274713   112.0  3474.5
Kansas                  24.0  5223.833333  1632.159350  1795.0  5389.0
Kentucky               137.0  4956.554745  2655.157351     1.0  4881.0
Louisiana               41.0  3991.317073  2692.114842   183.0  3589.0
Maine                    8.0  5774.750000  2983.911323  2256.0  4737.5
Maryland               105.0  5299.266667  2273.020886   888.0  5239.0
Massachusetts          135.0  5250.940741  2841.946993   347.0  5769.0
Michigan               253.0  4664.822134  2847.348872    47.0  4674.0
Minnesota               89.0  3557.808989  2775.805403    45.0  3047.0
Mississippi             53.0  4734.018868  2537.091888   425.0  4612.0
Missouri                66.0  4927.969697  2973.085483   145.0  4833.5
Montana                 15.0  4095.866667  3204.464048   516.0  3028.0
Nebraska                38.0  5404.842105  2665.599162    22.0  5535.0
Nevada                  39.0  5731.948718  2703.864953   395.0  5561.0
New Hampshire           27.0  5023.888889  2763.816443   872.0  5597.0
New Jersey             122.0  4711.508197  3088.791607   198.0  4379.0
New Mexico              37.0  4493.270270  2650.415813   163.0  3068.0
New York              1097.0  4690.361896  2868.385353    54.0  4780.0
North Carolina         247.0  4856.433198  2875.867715    13.0  4605.0
North Dakota             7.0  5256.571429  1522.648663  4363.0  4366.0
Ohio                   454.0  4862.903084  2982.620982   114.0  4762.5
Oklahoma                66.0  4978.015152  2553.709630   159.0  5026.5
Oregon                 122.0  5191.598361  2540.226484    96.0  5721.5
Pennsylvania           582.0  4671.469072  2922.657211    24.0  4620.0
Rhode Island            55.0  5371.781818  2471.004569   396.0  5093.0
South Carolina          42.0  4621.309524  1910.809450    86.0  4875.0
South Dakota            12.0  4071.500000  2721.099427  2314.0  2587.5
Tennessee              183.0  5836.836066  2540.539093    73.0  6133.0
Texas                  973.0  5104.651593  2923.766457    15.0  5101.0
Utah                    53.0  3651.415094  2414.681405    18.0  2658.0
Vermont                 11.0  8277.181818  2348.491764  2235.0  9149.0
Virginia               224.0  5438.111607  2952.432464    70.0  6027.5
Washington             504.0  5088.601190  2782.865265    14.0  5000.0
West Virginia            4.0  8293.750000   795.500419  7895.0  7896.5
Wisconsin              105.0  4966.819048  2789.823326    17.0  4833.0
Wyoming                  1.0  5870.000000          NaN  5870.0  5870.0

                             Postal Code                                      \
                         max       count          mean          std      min
State
Alabama               9670.0        61.0  35994.573770   490.770261  35244.0
Arizona               9655.0       223.0  85277.587444   245.278129  85023.0
Arkansas              9761.0        60.0  72321.816667   292.072344  71603.0
California            9769.0      1946.0  92152.318088  1921.914786  90004.0
Colorado              9554.0       179.0  80300.262570   334.232969  80004.0
Connecticut           9767.0        82.0   6475.670732   291.845218   6010.0
Delaware              9744.0        93.0  19756.677419    63.368687  19711.0
District of Columbia  4597.0        10.0  20016.000000     0.000000  20016.0
Florida               9772.0       373.0  32987.809651   563.829069  32114.0
Georgia               9774.0       177.0  30914.276836   808.316276  30062.0
Idaho                 9726.0        21.0  83462.333333   218.564712  83201.0
Illinois              9796.0       483.0  60708.925466   520.957010  60004.0
Indiana               9677.0       135.0  46916.222222   572.470369  46060.0
Iowa                  9251.0        26.0  51096.115385   988.901990  50315.0
Kansas                8117.0        24.0  66824.916667   708.040033  66062.0
Kentucky              9786.0       137.0  41195.759124   988.197368  40214.0
Louisiana             9223.0        41.0  70783.975610   363.104908  70065.0
Maine                 9159.0         8.0   4340.625000    83.325416   4240.0
Maryland              9370.0       105.0  21016.571429   217.037964  20707.0
Massachusetts         9729.0       135.0   1987.370370   245.126581   1040.0
Michigan              9768.0       253.0  48447.007905   416.903599  48066.0
Minnesota             9649.0        89.0  55418.247191   387.762705  55016.0
Mississippi           9612.0        53.0  39189.113208   223.457848  38671.0
Missouri              9366.0        66.0  65126.696970  1015.949483  63116.0
Montana               8360.0        15.0  59491.733333   177.931153  59102.0
Nebraska              9737.0        38.0  68121.421053   154.273648  68025.0
Nevada                9267.0        39.0  89136.846154   164.070514  89015.0
New Hampshire         9750.0        27.0   3475.370370   276.574951   3060.0
New Jersey            9785.0       122.0   7786.762295   704.130952   7002.0
New Mexico            9306.0        37.0  87609.621622   506.341307  87105.0
New York              9782.0      1097.0  10493.928897  1153.687625  10009.0
North Carolina        9671.0       247.0  28091.396761   418.207679  27217.0
North Dakota          7486.0         7.0  58103.000000     0.000000  58103.0
Ohio                  9800.0       454.0  43855.037445   808.515666  43017.0
Oklahoma              9495.0        66.0  73683.636364   509.725285  73034.0
Oregon                9600.0       122.0  97358.303279   167.685651  97030.0
Pennsylvania          9773.0       582.0  19063.479381   330.358344  16602.0
Rhode Island          9540.0        55.0   2908.327273     9.860235   2886.0
South Carolina        6968.0        42.0  29287.333333   141.350915  29203.0
South Dakota          9261.0        12.0  57227.500000   237.028767  57103.0
Tennessee             9456.0       183.0  37653.409836   482.587077  37042.0
Texas                 9795.0       973.0  76901.519013  1253.965136  75002.0
Utah                  8806.0        53.0  84195.622642   212.918929  84020.0
Vermont               9742.0         0.0           NaN          NaN      NaN
Virginia              9787.0       224.0  22876.495536   655.454301  22153.0
Washington            9764.0       504.0  98145.795635   198.523406  98002.0
West Virginia         9487.0         4.0  26003.000000     0.000000  26003.0
Wisconsin             9721.0       105.0  53653.895238   667.880616  53081.0
Wyoming               5870.0         1.0  82001.000000          NaN  82001.0

                                         Sales                            \
                          50%      max   count         mean          std
State
Alabama               35810.0  36830.0    61.0   319.846557   545.761807
Arizona               85234.0  86442.0   223.0   158.173350   250.073948
Arkansas              72209.0  72762.0    60.0   194.635500   316.405669
California            92105.0  96003.0  1946.0   229.345562   493.124923
Colorado              80219.0  81001.0   179.0   177.886022   326.652030
Connecticut            6457.0   6824.0    82.0   163.223866   251.732268
Delaware              19711.0  19901.0    93.0   293.795688  1129.903099
District of Columbia  20016.0  20016.0    10.0   286.502000   547.419707
Florida               33065.0  34952.0   373.0   237.095260  1221.147158
Georgia               30328.0  31907.0   177.0   272.424350   649.501660
Idaho                 83605.0  83704.0    21.0   208.689810   282.061093
Illinois              60623.0  62521.0   483.0   164.050760   319.722044
Indiana               47201.0  47905.0   135.0   360.877037  1538.033027
Iowa                  50322.0  52601.0    26.0   170.906154   347.805058
Kansas                66857.0  67846.0    24.0   121.429583   124.606356
Kentucky              40475.0  42420.0   137.0   266.119635   475.640202
Louisiana             70601.0  71203.0    41.0   222.708537   369.184384
Maine                  4401.0   4401.0     8.0   158.816250   146.676370
Maryland              21044.0  21740.0   105.0   225.766886   396.914182
Massachusetts          2038.0   2740.0   135.0   212.106919   336.924698
Michigan              48227.0  49505.0   253.0   300.933099   829.133332
Minnesota             55407.0  56560.0    89.0   335.541011  1070.678744
Mississippi           39212.0  39503.0    53.0   203.232830   365.834352
Missouri              65807.0  65807.0    66.0   336.441667   830.866752
Montana               59405.0  59801.0    15.0   372.623467   784.412796
Nebraska              68104.0  68801.0    38.0   196.445526   459.444553
Nevada                89115.0  89502.0    39.0   428.951333   881.267531
New Hampshire          3301.0   3820.0    27.0   270.093481   475.181739
New Jersey             7501.0   8901.0   122.0   283.696492   916.904227
New Mexico            87401.0  88220.0    37.0   129.284378   190.093868
New York              10024.0  14701.0  1097.0   279.271784   699.602042
North Carolina        28205.0  28806.0   247.0   223.343984   651.382669
North Dakota          58103.0  58103.0     7.0   131.415714   256.602857
Ohio                  43615.0  45503.0   454.0   165.485352   355.123657
Oklahoma              74012.0  74403.0    66.0   298.233182   431.874240
Oregon                97301.0  97756.0   122.0   141.675918   216.537226
Pennsylvania          19134.0  19601.0   582.0   199.788058   533.128507
Rhode Island           2908.0   2920.0    55.0   409.545927   860.049996
South Carolina        29203.0  29730.0    42.0   201.945476   318.462333
South Dakota          57103.0  57701.0    12.0   109.630000   148.257140
Tennessee             37604.0  38401.0   183.0   167.551219   360.678518
Texas                 77041.0  79907.0   973.0   173.250290   426.624560
Utah                  84084.0  84604.0    53.0   211.699170   378.723382
Vermont                   NaN      NaN    11.0   811.760909  1309.310745
Virginia              22980.0  24153.0   224.0   315.342500   792.001296
Washington            98105.0  99301.0   504.0   268.267560   766.173086
West Virginia         26003.0  26003.0     4.0   302.456000   313.508627
Wisconsin             53209.0  54915.0   105.0   296.889810   470.971049
Wyoming               82001.0  82001.0     1.0  1603.136000          NaN


                           min       50%        max
State
Alabama                  3.620    70.980   3040.000
Arizona                  1.408    62.352   1879.960
Arkansas                 4.300    54.420   1793.980
California               0.990    61.040   8187.650
Colorado                 1.080    52.416   2549.985
Connecticut              3.520    50.000   1133.350
Delaware                 3.380    68.040  10499.970
District of Columbia     9.640    35.800   1379.920
Florida                  1.167    41.472  22638.480
Georgia                  1.780    67.880   6354.950
Idaho                    3.304    89.970   1128.390
Illinois                 0.836    35.856   2799.960
Indiana                  1.980    75.880  17499.950
Iowa                     5.400    37.440   1408.100
Kansas                   5.760    63.980    360.380
Kentucky                 2.610    76.300   3080.000
Louisiana                3.890    56.300   1665.620
Maine                    8.260   105.720    437.850
Maryland                 1.640    89.820   2541.980
Massachusetts            3.150    63.200   1737.180
Michigan                 2.200    85.520   9892.740
Minnesota                3.750    50.400   9449.950
Mississippi              6.160    77.560   2430.080
Missouri                 7.640    57.685   4899.930
Montana                  6.096    63.980   2999.950
Nebraska                 5.040    34.200   2479.960
Nevada                   3.640    79.140   4535.976
New Hampshire           14.820    68.620   2249.910
New Jersey               3.760    70.225   9099.930
New Mexico               4.170    45.360    883.840
New York                 1.240    60.450  11199.968
North Carolina           1.752    44.784   7999.980
North Dakota             2.480    25.900    704.760
Ohio                     1.448    41.763   4499.985
Oklahoma                 3.520    79.550   1805.880
Oregon                   1.080    46.596   1487.040
Pennsylvania             0.852    41.786   8399.976
Rhode Island             2.220    69.980   5399.910
South Carolina           6.460    69.970   1690.040
South Dakota             2.970    34.250    416.320
Tennessee                1.584    42.048   2314.116
Texas                    0.444    36.288   8159.952
Utah                     4.960    60.120   1499.950
Vermont                  2.040   205.030   4404.900
Virginia                 2.840    65.250   8749.950
Washington               1.344    65.940  13999.960
West Virginia            6.240   265.120    673.344
Wisconsin                1.810    91.680   2807.840
Wyoming               1603.136  1603.136   1603.136

In [41]:
super_df.pivot_table(["Ship Mode", "Sales"],["Region","Category"],aggfunc="mean")

                              Sales
Region  Category
Central Furniture        341.100983
        Office Supplies  116.933698
        Technology       413.576490
East    Furniture        349.342450
        Office Supplies  119.940499
        Technology       499.272347
South   Furniture        357.458528
        Office Supplies  126.576573
        Technology       512.786187
West    Furniture        355.062584
        Office Supplies  116.917478
        Technology       420.042326

In [47]:
super_df.groupby("Region").describe(percentiles=[])

         Row ID                                                 Postal Code  \
          count         mean          std   min     50%     max       count
Region
Central  2277.0  4932.282828  2869.239035  15.0  4872.0  9796.0      2277.0
East     2785.0  4829.551167  2882.658143  24.0  4830.0  9800.0      2774.0
South    1598.0  5003.707760  2752.142836   1.0  4994.5  9787.0      1598.0
West     3140.0  4887.855732  2789.822592   3.0  4900.5  9769.0      3140.0

                                                                 Sales  \
                 mean           std      min      50%      max   count
Region
Central  65472.155907  11381.053465  46060.0  65807.0  79907.0  2277.0
East     17629.076424  12695.782269   1040.0  11561.0  45503.0  2785.0
South    34491.736546  11030.890247  22153.0  32712.0  72762.0  1598.0
West     91710.064013   5231.153259  59102.0  92105.0  99301.0  3140.0


               mean         std    min     50%        max
Region
Central  216.357889  636.040148  0.444  45.920  17499.950
East     240.401697  626.366105  0.852  54.960  11199.968
South    243.524067  779.850548  1.167  54.114  22638.480
West     226.184613  524.240789  0.990  61.002  13999.960